
/* normalize */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* globals */

html{
    
    font-size: 62.5%;


}


ul{
   list-style-type: none;
}

a{
    color: white;
    font-size: 1.7 em;
    text-decoration: none;
    text-decoration: solid;
    display: inline-block

}

body{
    display: grid;
    grid-template-rows: auto 0.2fr 0.5fr 0.3fr auto;  
    min-height: 15vh;
}